body {
  background-image: url("file:///C:/Users/chion/OneDrive/Pictures/Screenshots/wimterGreen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
